// Copy this file into mqtt-credentials.h
// and edit both of the below lines

#define MQTT_HOST "192.168.x.y"
#define MQTT_PORT 1883

#define MQTT_USERNAME "username"
#define MQTT_PASSWORD "password"

#define MQTT_TOPIC "photon/http_rf_bridge"
#define MQTT_TOPIC_TEMP "photon/http_rf_bridge_temp"
